{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
#product-overview {
    background: url("freedom.jpg");
    width: 100.99%;
    height: 528px;
    padding: 10px;
}

/*h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}*/

.section-title {
    color: #2ddf5c;
    text-align: center;
}
#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;

}
.plan {
    background: #998843;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width:29%;
    vertical-align: middle;
}
.plan__space {
    margin: 10px;
}
.plan--highlighted {
    background: #2f862f;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan__annotation {
    background: white;
    color: #073607;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.plan__title {
    color: #0a520a;
}
.plan__price {
    color: darkgrey;
}
.plan--highlighted .plan__title {
    color: white;
}
.plan--highlighted .plan__price{
    color: #042404;
}
.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan__feature {
    margin: 8px 0;
}
.button {
    background: darkgreen;
    color: white;
    font: inherit;
    border: 1.5px solid darkgreen;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover,
.button:active {
    background: white;
    color: darkgreen;
}
.button:focus {
    outline: none;
}
#key--features {
    background: red;
}
#key--features .section-title {
    color: white;
    margin-top: 88px;
    padding: 16px;
}
.main-header {
    background: rgb(201, 160, 131);
    width: 100%;
    padding: 8px 16px;
}
.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}
.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav__item {
    display: inline-block;
    margin: 0 16px ;
}

.main-nav__item a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}
.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
}
.main-nav__item--cta a{
    color: white;
    background: red;
    padding: 8px 16px;
    border-radius: 8px;

}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: red;
    background: white;

}
